<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="6.1.0" targetFramework="net472" developmentDependency="true" />
  <package id="Fody" version="6.9.3" targetFramework="net472" developmentDependency="true" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net472" />
  <package id="PDFium.Windows" version="1.0.0" targetFramework="net472" />
  <package id="PDFiumSharpV2" version="1.1.4" targetFramework="net472" />
  <package id="PDFsharp" version="6.2.4" targetFramework="net472" />
</packages>