name: Update WinGet Packages

on: workflow_dispatch

jobs:
  update:
    name: Update Package
    runs-on: ubuntu-latest
    steps:
    - name: Update Packages
      uses: michidk/winget-updater@v1
      with:
        komac-token: ${{ secrets.WINGET_TOKEN }}
        identifier: "NASS.DHLabel"
        repo: "manfred-mueller/Dhlabel"
        URL: "https://github.com/manfred-mueller/DHLabel/releases/download/v1.5.4/DHLabel-Setup-1.5.4.exe"
